#app {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Saira Semi Condensed", sans-serif;
  overflow: hidden;
  min-height: 100vh;
}

.line {
  position: relative;
  width: 75px;
  height: 2.5px;
  background-color: #00bfa6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.produk:hover {
  text-decoration: none;
}

.form-control:focus {
  border-color: #00bfa6;
  box-shadow: none;
  outline: none;
}

.fadeInTop-enter {
  opacity: 0;
  transform: translateY(-5px);
}

.fadeInTop-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

.fadeInBottom-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fadeInBottom-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fadeInTop-enter-active,
.fadeInTop-leave-active,
.fadeInBottom-enter-active,
.fadeInBottom-leave-active {
  transition: all 0.2s;
}

.alert-enter-active {
  animation: wobble 0.5s ease;
}

@keyframes wobble {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  60% {
    transform: translateX(8px);
  }
  70% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(4px);
  }
  90% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 576px) {
  .home,
  .product,
  .product-detail,
  .cart,
  .checkout,
  .pageNotFound,
  .order-success,
  .body-profile {
    margin-top: 25%;
  }
}

@media (min-width: 768px) {
  .home,
  .product,
  .product-detail,
  .cart,
  .checkout,
  .pageNotFound,
  .order-success,
  .body-profile {
    margin-top: 12%;
  }
}

@media (min-width: 992px) {
  .home,
  .product,
  .product-detail,
  .cart,
  .checkout,
  .pageNotFound,
  .order-success,
  .body-profile {
    margin-top: 10%;
  }
}

@media (min-width: 1200px) {
  .home,
  .product,
  .product-detail,
  .cart,
  .checkout,
  .pageNotFound,
  .order-success,
  .body-profile {
    margin-top: 7%;
  }
}
